<?xml version="1.0"?>
<robot name="myfirstrobot"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find myfirstrobot_description)/urdf/macros/link_igv.urdf.xacro" />
  <xacro:include filename="$(find myfirstrobot_description)/urdf/macros/properties.urdf.xacro" />

  <xacro:include filename="$(find myfirstrobot_description)/urdf/macros/parts/base.urdf.xacro" />
  <xacro:include filename="$(find myfirstrobot_description)/urdf/macros/parts/head.urdf.xacro" />
  <xacro:include filename="$(find myfirstrobot_description)/urdf/macros/parts/leg.urdf.xacro" />

  <xacro:include filename="$(find myfirstrobot_description)/urdf/simulation/gazebo_base.urdf.xacro" />
  <xacro:include filename="$(find myfirstrobot_description)/urdf/simulation/gazebo_camera.urdf.xacro" />

  <!-- Robot -->
  <xacro:base name="base"/>
  <xacro:head name="head" parent="base"/>
  <xacro:leg name="right" parent="base">
    <origin xyz="0  ${body_scale/3} -${body_scale/10}" rpy="0 0 0"/>
  </xacro:leg>
  <xacro:leg name="left" parent="base">
    <origin xyz="0 -${body_scale/3} -${body_scale/10}" rpy="0 0 0"/>
  </xacro:leg>

  <!-- Plugins -->
  <xacro:gazebo_base reference="base"/>
  <xacro:gazebo_camera reference="head_box"/>

</robot>
