<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gazebo_base" params="reference">
    <gazebo>
      <plugin name="${reference}_controller" filename="libgazebo_ros_planar_move.so">
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <odometryRate>100.0</odometryRate>
        <robotBaseFrame>${reference}_footprint</robotBaseFrame>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
