<launch>

  <arg name="name"                default="myfirstrobot"/>
  <arg name="model"               default="myfirstrobot.urdf.xacro"/>
  <arg name="enable_rviz"         default="false"/>
  <arg name="enable_gazebo"       default="false"/>
  <arg name="enable_teleop"       default="false"/>
  <arg name="enable_jspublisher"  default="false"/>

  <arg name="init_pos_x" 	default="0.0"/>
  <arg name="init_pos_y" 	default="0.0"/>
  <arg name="init_pos_z" 	default="0.0"/>
  <arg name="init_yaw"   	default="0.0"/>

  <!-- robot_description -->
  <param name="robot_description"
    command="$(find xacro)/xacro $(find myfirstrobot_description)/urdf/$(arg model)" />

  <!-- rviz -->
  <group if="$(arg enable_rviz)" >
    <node name="rviz" pkg="rviz" type="rviz"
      args="-d $(find myfirstrobot_description)/config/myfirstrobot.rviz" />
  </group>

  <!-- gazebo -->
  <group if="$(arg enable_gazebo)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  </group>

  <!-- keyboard teleop -->
  <group if="$(arg enable_teleop)">
    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"
      output="screen" launch-prefix="xterm -hold -e"/>
  </group>

  <!-- publishers -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <group if="$(arg enable_jspublisher)" >
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  </group>
  <group unless="$(arg enable_jspublisher)" >
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group>

  <!-- spawn simulated robot -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
	args="-param robot_description
	      -urdf
	      -x $(arg init_pos_x)
	      -y $(arg init_pos_y)
	      -z $(arg init_pos_z)
	      -Y $(arg init_yaw)
	      -model $(arg name)">
  </node>

</launch>
